:root {
  --blue-accent: rgb(16, 139, 240);
}

body {
  background-color: #221e1e;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TOP BAR */

.top-bar {
  background-color: var(--blue-accent);
  padding: 5px 0;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
}

.top-bar h2 {
  color: white;
  font-family: sans-serif;
  font-size: 1.3em;
}


/* MAIN CONTENT */

.main-content {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
}

/* INPUT */


.pt-input {
  width: 80vw;
  padding: 12px;
  border-radius: 10px;
  font-size: 1.5em;
  border: none;
}

.pt-input:focus {
  outline: none;
  outline: 5px solid gray;
}

.pt-input::placeholder {
  color: rgb(190, 190, 190);
  text-align: center;
}


/* BUTTON */

.pt-button {
  font-size: 1.5em;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--blue-accent);
  color: white;
  font-weight: bold;
}

.disabled {
  background-color: gray;
}
